*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
}
.brand-container{
  width: 1080px !important;
}
.brand-create-button{
  position: relative;
  left: 17%;
}
.brand-create-button button:hover{
  background-color: skyblue;
}
.brand-name-info{
  position: relative;
  right: 17%;
}
.brand-name-info i{
  font-size: 2.5rem;
}
.brand-name-info h1{
  font-size: 2rem;
  font-weight: bold;
}
.brand-create-button button{  
  float: right;
  padding: 10px 50px;
  background-color: #3aa8f7;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
} 
.brandSection{
  border-radius: 5px;
  /* overflow-y: auto; */
  border: 1px solid #dedede;
  margin: auto;
  max-width: 1050px;
  padding: 19px 30px;
}
.brand-arrow{
  margin-left: 9rem;
  display: flex !important;

}
.brand-arrow button{
  font-size: 1.2rem;
}
.brand-name-logo{
   position: relative;
   right: 14%;
}
.brand-name-logo i{
  font-size: 1.4rem;
  
}
.brand-name-logo h1{
  margin-left: 0.9rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.trash-button {
  margin-left: 1rem;
  color: #f44336;
}
.trash-button:hover{
  color: #f44336;
  cursor: pointer;
}
.arrow-button{
  color: #3aa8f7;
}
.arrow-button:hover{
  color: black;
}
/* ==============Defective Heading cSS===================== */
.defectHead{
/* background-color: #f44336; */
font-size: 2.1rem;
font-weight: 600;
line-height: 2rem;
margin-top: 20px;
margin-bottom: 20px;
}
.DropSelect{
  font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
}
.StepsCss{
  /* background-color: #3aa8f7; */
  /* font-size: 2.5rem; */
  
}
/* ========================Stepper========================= */
.step-item {
  @apply relative flex flex-col justify-center items-center w-36;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}
.active .step {
  @apply bg-sky-600;
}
.complete .step {
  @apply bg-green-600;
}
.complete p {
  @apply text-white;
}
.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-green-600;
}
/* ==============Defective Heading cSS===================== */




.brands-name{
   display: inline-flex;
   flex-direction: column;
}
.brand-subname{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: #00000005 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 75vw;
    padding: 12px 24px;
    /* margin-bottom: 15rem; */
}
.brand-subname h1{
    margin-right: 52rem;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.star-icon{
    margin-top: 0.2rem;
    margin-right: 0.1rem;
    font-size: 1.4rem;
    font-weight: bolder;
}
.arrow-icon{
    margin-top: 0.2rem;
}

.brand-link a{
    text-decoration: none;
    color: #fff;
}
.module-content p{
    transition: all 0.4s ease-in-out;
    text-align: center;
}
.main-brand-container{
  /* max-width: 1200px; */
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.buttons{
    text-align: end;
    margin-left: 19rem;
}
.brand_name {
    display: flex;
    align-items: center;
    margin-left: -7.5rem;
}
.folder-icon{
    font-size: 1.8rem;
  margin-right: 10px;
}
.brand_name h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
.create-button{
    margin-left: 2rem;
    padding: 10px 50px;
    background-color: #3aa8f7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.create-button:hover{
    color: #fff;
    background-color: skyblue;
    cursor: pointer;
}
.back-button:hover{
    color: #fff;
    background-color: skyblue;
}
.back-button{
    padding: 12px 24px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    margin-left: 0.2rem;
}


       /* Modal Styling Start */
       
       .module-content{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 40px 30px;
        margin-top: 1rem;
        margin-bottom: 2rem;
        transition:all 0.2 ease-in-out;
       }
       .brand-create-delete{
        display: flex;
        justify-content: flex-end;
        margin-right: 0.4rem;
        /* margin: 2rem; */
       }
       .delete{
        color: #fff;
        background-color: tomato;
        padding: 12px 24px;
        border-radius: 5px;
       }
       .back{
        color: #fff;
        background-color:blue;
        padding: 12px 24px;
        margin-left: 0.4rem;
        border-radius: 5px;
       }
       .email{
        font-size: 1rem !important;
        font-weight: 600 !important;
       }
       .brand-info h2{
        font-weight: bold;
        font-size: 1.4rem;
       }
       .brand-info p{
        font-size: 0.8rem;
        color: gray;
       }
       .brand-modal-button{
        margin-top: 1rem;
        padding: 10px 24px;
        color: #fff;
        border-radius: 5px;
        background-color: blue;
        width: 10%;
        text-align: center;
       }
       .brand-modal-button a:hover{
        color: #fff;
       }
       .special{
        color: lightcoral;
       }

       /* Modal Styling End */
       
       /* Repair Devices Styling Start */
       .repair-create-button{
        position: relative;
        left: 83%;
        bottom:10%;
       }
       /* .repair-top{
        position: relative;
        top: 5%;
       } */
       .save-button{
        position: relative;
        left: 80%;
       }

       .ant-btn-primary{
        color: white;
        background-color: #3aa8f7 !important;
       }
       .ant-btn-primary:hover {
        background: transparent;
        color: #000;
       }
       
       .bottom-modal{
        width: 500px;
        justify-content: center;
        align-items: center;
        margin-right: 30%;
       }
       
       .data-section{
        margin-right: 28rem;
        background-color: white;
        /* height: auto; */
       }

       .data-section ::placeholder{
        font-weight: 480;
        font-size: 1.03rem;
        color: #000 !important;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
       }
       .sort{
        text-align: center;
       }
       .brand-section{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 5px;
        border: 1px solid #dedede;
        width: 100%;
        align-items: center;
        padding: 14px 10px;
        border-radius: 5px;
       }
       .brand-logo-info {
        grid-column: span 5;
      }
      .brand-logo-info i{
        margin-top: 0.2rem;
        font-size: 2rem;
      }
      .brand-desc{
        grid-column: span 5;
        
      }
      .brand-arrow-icon{
        grid-column: span 2;
      }
      .brand-arrow-icon{
        margin: auto;
        text-align: center;
        margin-left: 4rem;
        font-size: 1.2rem;
      }
       .rep-device-container{

        width: 1090px;
        height: 100%;
        overflow: auto;
        /* background-color: #dedede; */
       }
       .rep-devices-section{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 93px;
        /* border: 1px solid #dedede; */
        width: 100%;
        align-items: center;
        padding: 14px 30px;
        border-radius: 5px;
       }
      
      .rep-name {
       grid-column: span 8;
     }
     .rep-create-button{
       grid-column: span 4;
       margin-left: 6rem;
       float: right !important;
     }
     .rep-create-button button{
      margin-left: 2rem;
      padding: 10px 50px;
      background-color: #3aa8f7;
      color: #fff;
      border-radius: 5px;
     }
  .rep-create-button button:hover{
      color: #fff;
      background-color: skyblue;
      cursor: pointer;
  }
     
    .rep-name{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .rep-name i{
        font-size: 2.4rem;
    }
    .rep-name h1{
        font-size: 1.7rem;
        font-weight: bold;
    }
    .rep-create-button p{
        background-color: blue;
        padding: 12px 40px;
        color: #fff;
        text-align: center;
        align-items: center;
    }
    .rep-create-button :hover{
        color: #000;
        /* background-color: dimgray; */
    }
    .search-box form{
        width: 650px;
        padding: 12px 30px;
        display: flex;
    }
    .sort-page{
        background-color: #3aa8f7;
        color: white;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        /* padding-inline: 20px; */
        padding: 22px 0px;
        /* width: 100px; */
        width: 140px;
        height: 40px;
        position: relative;
        left: 84%;
        bottom: 3.7rem;
        font-size: 16px;
        font-weight: 600;
    }
          /* Repair Devices Styling End */
    
          /* Reapair Defects */
          .sub-name-sec{
            margin-top: 0.7rem;
            background-color: #f9f9f9;
            padding: 3px 6px;
            width: 360px;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            gap: 8px;
          }
          .sub-name-sec i{
            color: #3aa8f7;
            font-size: 1.5rem;
          }
          .sub-name-sec h5{
            color: #3aa8f7;
            font-size: 1rem;
          }
          .sub-name-sec h4{
            color: #000;
          }
         
          .create-content{
            display: grid;
            grid-template-columns: repeat( 12,1fr);
            padding: 30px 50px;
            align-content: center;
            gap: 20px;
            max-width: 80%;
            position: fixed;
            background-color: #fff;
            right:9%;
            top: 20%;
            height: 50%;
          }
          .left-side {
            grid-column: span 6;
            margin-right: 10rem;
          }
          .right-side{
            grid-column: span 6;
            margin-right: 3rem;
          }
          .right-side input{
            width: 350px;
          }
          .left-button{
            background-color: #3aa8f7;
            color: #fff;
            padding: 10px 20px;
          }
          .right-button{
            background-color: #3aa8f7;
            color: #fff;
            padding: 10px 20px;
            margin-left: 1rem;
          }
          .create-content-button{
            position: absolute;
            right: 5%;
            top: 80%;
          }
          .close-button{
            position: absolute;
            /* left: 50%; */
            right: 3%;
            bottom: 85%;
            cursor: pointer;
          }
          
         .create-modal-content{
            display: grid;
            grid-template-columns: repeat( 12,1fr);
            padding: 30px 50px;
            align-content: center;
            gap: 30px;
         }
         .brand-info-content{
            grid-column: span 6;
            /* line-height: 2.5rem; */
         }
         .brand-input-field{
            height: 50%;
            grid-column: span 6;
            /* line-height: 2rem; */
         }
         .brand-input-field input{
            width: 100%;
         }
         .brand-info-content h2{
            font-size: 1.2rem;
            font-weight: 600;
         }
         .brand-info-content p{
            font-size: 0.7rem;
         }
         .cross-button{
          position: absolute;
          right: 3%;
          /* bottom: 14rem; */
          outline: none;
          color: #000 !important;
          background-color: #f44336 !important;
          border: 1px solid lightgray !important;
          border-radius: 10% !important;
         }
         .cross-button i:hover {
          color: #fff !important;
          background-color: transparent !important; 
         }
         .ModalBody{
          border: hidden;
         }
         .upload-button{
          position: absolute;
          /* top: 0%; */
         }

         /* Users Section */
         .main-users-container{
          width: 1089px;
          height: 100%;
          overflow-y: auto;
          background-color: #f1f1f1;      
         }
         .top-section{
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          width: 100%;
          gap: 10px;
          align-items: center;
          padding: 14px 50px;
          margin-top: 1.5rem;
          /* padding-inline: 20px; */
         }
         .users-name{
          display: flex;
          grid-column: span 6;
          font-size: 2rem;
         }
         .users-name h1{
          margin-left: 0.8rem;
          font-weight: 600;
         }
         .users-create-button button{
          grid-column: span 6;
          background-color: #3aa8f7;
          color: #fff;
          border-radius: 5px;
          padding: 10px 50px;
            margin-left: 49rem;     
         }
         .users-create-button button:hover{
          color: #fff;
          background-color: skyblue;
          cursor: pointer;
         }
          
         .ModalFooter{
          border: none;
         }